* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
    /* font-size: 16px; */
}

body {
    background-color: aliceblue;
}


.container {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    /* border: 1px solid black; */
    height: 250px;
    max-width: 45%;
    padding: 1em;
}

label {
    display: inline-block;
    margin-top: 8px;

}

input {
    width: 100%;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    outline: green solid 0.5px;
}

input:focus {
    background-color: #f2f2b1;
}

/* hide default arrow on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}