@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: tahoma;

}