* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

body {
    background-color: aliceblue;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9396bf;
    box-shadow: 3px 1px 8px 0px rgba(117, 117, 223, 0.75);

    width: 500px;
}

h1 {
    text-align: center;
    color: #097cff;
    letter-spacing: 1.5px;
    margin-top: 20px;
    font-family: "luckiest guy";
}

h2 {
    font-size: 6rem;
    text-align: center;
    color: rgb(248, 243, 243);
}

.count-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count-btn button {
    margin: 10px;
    width: 100%;
}



.btn {
    padding: 10px 15px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    letter-spacing: 1.5px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 3;
}

#increase {
    background-color: rgb(0, 128, 0);
}

#reset {
    background-color: rgb(255, 0, 0);

}

#decrease {
    background-color: rgb(255, 165, 0);
}



/* when the screen is less than 720px */
@media (max-width:720px) {
    h1 {
        font-size: 1.5rem;
        padding: 0 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    .container {
        width: 300px;
    }

    .count-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
    }


}