* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  height: 100vh;
  width: 100vw;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
  display: none;
}
.modal {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 5%;
  top: 20%;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
.container h1 {
  font-weight: bold;
}
.container header button {
  border: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 20px;
}
button {
  color: #4a4141;
  background-color: transparent;
  border: none;
}

.modal textarea {
  font-family: inherit;
  width: 100%;
}
.modal button {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  background-color: #008000;
  color: white;
  border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}
.modal .close {
  background-color: #f37070;
}
.container .cards-container {
  margin-top: 15px;
}
.card {
  width: 300px;
  height: 100px;
  padding: 10px 10px 5px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
}
.card p {
  font-weight: 300;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-footer > * {
  cursor: pointer;
}
span {
  opacity: 0.5;
  /* text-align: right; */
}
/* .alert{
  text-align: center;
  font-size: medium;
  position: absolute; 
  position: relative;
  z-index: 19;
  top: 10%;
  bottom: 50%;
  padding: 0.5rem;


.error {
  background: #fda4af;
}
.success {
  background-color: #4ade80;
}
*/

.shake {
  animation: shake 0.3s;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  header button {
    width: 50px;
    height: 50px;
  }
  .card {
    /* max-width: 100%; */
    height: 200px;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .modal {
    width: 650px;
    left: 25%;
    top: 20%;
  }
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
