* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 0.938rem;

}

h4 {
    visibility: hidden;
}

.container {
    padding: 0.625rem;
    background-color: aliceblue;
    /* height: 50%; */
    min-width: 60%;
    border: 2px solid wheat;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 18px;
}


input[type="submit"] {
    background-color: #6bd0d0;
    max-width: 25%;
    margin: 10px auto;
    cursor: pointer;
    color: #fff1f1;
    border-radius: 5px;
    border:2px solid rgb(156, 140, 140);

}

.show {
    color: #e46565;
    background-color: #e8cdcd;
    visibility: visible;
    padding: 10px;
    text-align: center;

}