 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 body{
    font-family: "tahoma";
    background: #d9d7d7;
 }

 h3 {
     text-align: center;
     margin-top: 40px;
 }

 #anime-result img {
     display: block;
     margin: 0 auto;
     width: 50%;
     height: 450px;
     border-radius: 8px;

 }

 button {
     margin: 0 auto;
     display: block;
     margin-top: 20px;
     padding: 10px;
     letter-spacing: 1.5px;
     border-radius: 6px;
     background-color: #a7e0e0;
     border: 0;
     font-weight: bold;
 }

 button:hover {
     cursor: pointer;
 }