* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "tahoma";
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #faedcd;
}

.container {
    padding: 10px;
    height: 250px;
    border: 1px solid #e3c7c7;
    border-radius: 6px;
}

h2 {
    display: block;
}

label {
    display: inline-block;
    padding-top: 20px;
}

input {
    width: 100%;
    padding: 10px 5px;
    display: block;
    font-size: 18px;
}
input.error{
    border:1px solid #f44336;
}

span{
    display: inline-block;
    font-size: small;
    visibility: hidden;
}

.error {
    color: #f44336;
    visibility: visible;
}

button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background: #95a365;
    border: 0;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5 2s;
    color: #faf4e7;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

P {
    font-size: 20px;
}