:root {
  background-color: #090a0c;
  --ft-fam: "Yanone Kaffeesatz", sans-serif;
  --ft-family: "Metal Mania", "cursive";
  --bg-color: #090a0c;
  --ft-color: aliceblue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
body {
  color: var(--ft-color);
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  border: 1px solid wheat;
}
input[type="radio"] {
  margin: 10px 5px 10px 10px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  border: 2px solid #fff;
}
