:root {
  background-color: #090a0c;
  --ft-fam: "Yanone Kaffeesatz", sans-serif;
  --ft-family: "Metal Mania", "cursive";
  --bg-color: #090a0c;
  --ft-color: aliceblue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  /* color: #ac4444; */
}
button {
  background: #0cf1a5;
  color: #0f0b0b;
  border: 0;
  padding: 1em;
  cursor: pointer;
  border-radius: 10px;
  font-family: var(--ft-family);
  font-size: 26px;
  letter-spacing: 2px;
  transform: all 3s ease-in-out;
}
button:hover {
  border: 1px solid #e3f3ee;
}
