* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: 1.5px;
}
body{
    background-color: #6656;
}
h3 {
    text-align: center;
    /* font-size: 2px; */
    margin-top: 3rem;
    width: 100%;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #e7bbbb;
}

p {
    height: 200px;
}

label {
    display: inline-block;
    margin-top: 15px;
    font-weight: 600;
    /* font-size: 20px; */
}

input {
    width: 100%;
    padding: 8px 15px;
    height: 45px;
    font-size: 20px;
    outline: 0;
}

input:focus {
    background: #fafeff;
}

.error {
    border: 2px solid #e72626;
}

span {
    visibility: hidden;
    display: block;
    color: #dc7474;
    letter-spacing: 0;
}

button {  
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 30px;
    background-color: #55899e;
    opacity: 0.8;
    border: 0;
    color: white;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}