* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

/* styling image container */
#img-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50%;
    height: 550px;
    border: 0.5rem solid #c9df3c;
    border-radius: 0.5rem;
    background-image: url(img/egypt-10.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    transition: all 1s ease-in;
}

.btn-container {
    /* height: 50%; */
    position: relative;
}

.btn {
    color: #c4df3f;
    font-size: 4rem;
    /* opacity: 0.1; */
}

.btn:hover {
    cursor: pointer;
    opacity: 0.6;

}

/* styling the previous button */
.prev {
    position: absolute;
    left: 5%;
    top: 280px;
    /* right: 0; */
}

/* styling the next button */

.next {
    position: absolute;
    right: 5%;
    top: 280px;
    bottom: 0;
}