* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "tahoma";
}
body {
  background-color: #7df3cc;
  text-align: center;
}
.container {
  border: 1px solid black;
  max-width: 500px;
  height: 300px;
  margin: 50px auto;
}
p {
  font-size: 20px;
  margin-top: 50px;
}
.btn {
  width: 150px;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: none;
}
