* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    font-family: "luckiest Guy"; */

h1 {
    font-family: "luckiest guy";
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
}

button {
    padding: 10px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}