* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

body {
    background-color: #338ec7;
}

:root {
    --bg-color: white;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 380px;
    width: 500px;
    background-color: var(--bg-color);
    border-radius: 5px;
}
h2{
    text-align: center;
    color:aquamarine;
}
.bill-amount {
    position: relative;
}

.bill-amount img {
    position: absolute;
    top: 48%;
    height: 40%;
    left: 3%;
}

p {
    margin-top: 0.9em;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 13px;
    font-size: 18px;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    border:1px solid black;
    outline: 0;
    text-align: right;
    font-family: tahoma;
}

select {
    text-align: left;
}

input:focus {
    background-color: ghostwhite;
    border: 2px solid aquamarine;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* styling the button */
.container button {
    border: 0;
    color: #141111;
    font-family: tahoma;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
    width: 50%;
    height: 11%;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 900;
    background-color:aquamarine;
    transition: 2s;
    opacity: 1;
}

button:hover {
    cursor: pointer;
    opacity: 9;
}