* {
    font-family: "tahoma";
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    background-color: aliceblue;
}

#cal-container {
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
    /* padding: 1rem 0; */
    border: 1px solid #c784f3;
    border-radius: 5px;
}

label {
    display: inline-block;
    text-align: left;
    width: 200px;
    margin-top: 20px;

}

label,
input {
    font-size: 18px;
}

input {
    width: 150px;
    height: 35px;
    text-align: center;
}

input:focus {
    outline-color: #bfbfdd;
    background-color:  #faf3f3;
}

#calculate-btn {
    border: 0;
    letter-spacing: 1px;
    font-size: 18px;
    height: 35px;
    margin: 20px 0 10px 0px;
    border-radius: 5px;
    background: #5e5eda;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s;
}

#calculate-btn:hover {
    opacity: 2;
}

/* when the screen is less 720px */
@media screen and (max-width: 720px) {
    input {
        width: 100%;
    }

    #cal-container {
        padding: 0 10px 10px 10px;
    }

    label {
        display: block;
    }
    
}