* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e9a9c3;
  font-family: "luckiest Guy";
}

.container {
  margin: 150px auto;
  text-align: center;
  position: relative;
}
p {
  padding: 20px;
  font-size: 12rem;
  color: hsl(180, 10%, 57%);
  /* border: 1px solid blue; */
}
span {
  letter-spacing: 2px;
  padding: 5px;
}
button {
  border: none;
  padding: 20px 10px;
  width: 100px;
  background: transparent;
  font-size: 25px;
  margin: 15px;
}

button:hover,
button:focus {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0.55;
}
@media (max-width: 750px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    font-size: 8rem;
  }
  button {
    width: 80px;
  }
}
