* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "tahoma";
  /* background-color: #6bde3b; */
}
header {
  background-color: #0084c2;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.container {
  border: 1px solid #0084c2;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  background-color: #f1f1f1;
  height: 200px;
}

.box {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
label {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}
input {
  font-size: 20px;
  display: block;
}
input:focus {
  outline-color: #0084c2;
}

select,
input {
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 6px;
}
#result {
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #0084c2;
  color: #ffffff;
  border: none;
  outline: none !important;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 6px;
  align-items: center;
  margin-top: 40px;
  /* display: block; */
}
