* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'tahoma';
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  background: #242323;
  /* height: 100vh; */
}
.container {
  margin: 10em auto;
  height: 320px;
  width: 350px;
  padding: 10px;
  max-width: 100%;
}
label {
  text-align: start;
  display: block;
}
.form-control {
  position: relative;
}
.form-control input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 6px;
  display: block;
}
.form-control small {
  position: absolute;
  right: 0;
  bottom: -15px;
}
.form-control.error small {
  font-size: 11px;
  font-style: italic;
  font-weight: 100;
  color: #d62e17;
}
.form-control.error input {
  border: 2px solid #d62e17;
  display: block;
}

.btn {
  padding: 5px 15px;
  background: green;
  color: #f3f0e9;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
