* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}


.container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    border: 1px solid red;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* color: white; */
    font-weight: bold;
    font-size: 18rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}