* {
  margin: 0;
  padding: 0;
}
/* h1 {
  font-family: cursive;
  color: #030202;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 4rem;
  text-align: center;
  padding: 5rem;
  border: 2px solid rgb(160, 133, 133);
} */
