* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Silkscreen', cursive; */
}

/* root background */
:root {
    background-color: #424552;
}

body {
    font-family: Verdana, Tahoma;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: aliceblue;
}

h4 {
    font-family: 'Silkscreen', cursive;
    margin-bottom: 1.2em;

}

.container {
    height: 200px;
    width: 300px;
    padding: 0.375em;
    text-align: center;
}

p {
    font-family: 'Silkscreen', cursive;
    color: aliceblue;
    margin-top: 10px;

}

input {
    width: 100%;
    padding: 12px 10px;
    outline: 0;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

/* style input focus */
input:focus {
    border: 2px solid #236c23;
    background-color:aliceblue;
}

/* error class */
.error {
    font-family: tahoma;
    color: red;
    /* border: 1px solid red; */
}



/* styling button */
.container button {
    margin-top: 1.5em;
    cursor: pointer;
    padding: 5px 12px;
    background-color: green;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid black;
    letter-spacing: 1px;
    opacity: 0.8;
    transition: 0.3s;
}
/* hover on button */
button:hover {
    opacity: 9;
}